---
import "../styles/global.css";

import type { CollectionEntry } from "astro:content";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string | ImageMetadata;
  ogType?: "website" | "article";
}

const {
  title = "riiimparm / whoami……",
  description = "riiimparm's lab",
  ogImage,
  ogType = "website",
} = Astro.props;

const siteUrl = Astro.site;
if (!siteUrl) {
  console.warn(
    "astro.config.mjs の 'site' オプションが設定されていません。絶対URLが生成できません。",
  );
}

const pageUrl = siteUrl
  ? new URL(Astro.url.pathname, siteUrl).toString()
  : Astro.url.pathname;

let absoluteOgImageUrl: string | undefined = undefined;
if (ogImage) {
  if (typeof ogImage === "string") {
    absoluteOgImageUrl = siteUrl
      ? new URL(ogImage, siteUrl).toString()
      : ogImage;
  } else if (typeof ogImage === "object" && "src" in ogImage) {
    absoluteOgImageUrl = siteUrl
      ? new URL(ogImage.src, siteUrl).toString()
      : ogImage.src;
  }
} else {
  if (siteUrl) {
    absoluteOgImageUrl = new URL("/ogp.jpg", siteUrl).toString();
  }
}

const siteName = "riiimparm";
const twitterHandle = "@riiimparm";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>

    <meta name="description" content={description} />
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={pageUrl} />
    <meta property="og:site_name" content={siteName} />
    {
      absoluteOgImageUrl && (
        <meta property="og:image" content={absoluteOgImageUrl} />
      )
    }
    <meta property="og:type" content={ogType} />

    <meta name="twitter:card" content="summary_large_image" />
    {twitterHandle && <meta name="twitter:site" content={twitterHandle} />}
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    {
      absoluteOgImageUrl && (
        <meta name="twitter:image" content={absoluteOgImageUrl} />
      )
    }
  </head>
  <body>
    
    <a href="/"><header>>> riiimparm / whoami……</header></a>

    
    <main>
      <slot />
    </main>

    
    <footer>© 2025 riiimparm</footer>
  </body>
</html>
